---
import Card from "./Card.astro";
import SectionContainer from "./SectionContainer.astro";
import Imagen from "./Imagen.astro";

const items = [
  {
    title: "Derecho Civil",
    contentList: ["Contratos", "Defensa Civil", "Propiedad", "Sucesiones"],
  },
  {
    title: "Derecho Laboral",
    contentList: [
      "Contratos laborales",
      "Relaciones laborales",
      "Seguridad social",
      "Normativas",
    ],
  },
  {
    title: "Derecho Comercial",
    contentList: [
      "Derechos de Sociedades",
      "Contratos Comerciales",
      "Litigios Comerciales",
    ],
  },
  {
    title: "Derecho Penal",
    contentList: ["Defensa Penal", "Recursos Penales", "Derecho Penitenciario"],
  },
];
---
<SectionContainer id="areas-de-practica" className="p-8 sm:p-12 md:p-16 lg:p-20 xl:p-24">
  <header class="text-center mb-5">
    <h1 class="text-3xl font-bold mb-3 text-sky-950">Áreas de Práctica</h1>
    <h2 class="text-xl text-sky-800 hidden sm:block">
      Especialistas en Ley Comercial, Litigación, Insolvencia, y Fraude
    </h2>
  </header>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="w-full">
      <Imagen
        className="object-cover w-full h-full sm:h-52 hidden sm:block "
        src="/image2.webp"
        alt="imagen de áreas de prácticas"
      />
    </div>
    <Card
      className="w-full lg:w-full h-52"
      title={items[0].title}
      contentList={items[0].contentList}
    />
    <Card
      className="w-full lg:w-full h-52"
      title={items[1].title}
      contentList={items[1].contentList}
    />
    <Card
      className="w-full lg:w-full h-52"
      title={items[2].title}
      contentList={items[2].contentList}
    />
    <Card
      className="w-full lg:w-full h-52"
      title={items[3].title}
      contentList={items[3].contentList}
    />
    <div class="w-full">
      <Imagen
        className="object-cover w-full h-full sm:h-52 hidden sm:block "
        src="/image3.webp"
        alt="imagen de áreas de prácticas"
      />
    </div>
  </div>
</SectionContainer>
